@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-red: #D72027;
  --color-brand-red-hover: #DF4D52;

  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  /* Fallback for fonts */
  --font-sans: ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  --font-mono: ui-monospace,
  SFMono-Regular,
  "SF Mono",
  Menlo,
  Consolas,
  "Liberation Mono",
  monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --duration: 40s;
  --gap: 1rem;
}



html,
body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  width: 100%;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}